.board {
    background-color: black;
    cursor: none;
    overflow: hidden;
    position: relative;
}

.GameStatus{
    width: 100%;
    top: 0;
    left: 0;
    height: 30px;
    position: absolute;
    backdrop-filter: blur(18px);
    color: white;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    column-gap: 5px;
    text-align: center;
}
