.board {
    background-color: black;
    cursor: none;
    overflow: hidden;
    position: relative;
}

.GameStatus{
    width: 100%;
    top: 0;
    left: 0;
    height: 30px;
    position: absolute;
    backdrop-filter: blur(18px);
    color: white;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    column-gap: 1%;
    text-align: center;
    z-index: 2;
    font-size: 0.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shotAlert{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: radial-gradient(transparent 70%, red 100%);
    animation: pulsatingWound 100ms forwards;
    transform: translateX(-10px);
}
.shakingScreen{
    animation: shake 100ms infinite;

}
@keyframes shake{
    25%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(5px);
    }
}

@keyframes pulsatingWound {
    0%{
        opacity: 0;
    }
    
    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}