@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
#root > div {
    height: 100%;
    font-family: 'Teko', sans-serif;
    font-size: 16px;
}
